# {{ ansible_managed }}

define hostgroup {
	hostgroup_name dbservers 
        alias Database Servers
}

{% for host in groups.dbservers %}
        define host {
                use                     linux-server
                host_name               {{ host }}
                alias                   {{ host }}
                address                 {{ hostvars[host].ansible_default_ipv4.address }}
                hostgroups              dbservers 
                }
{% endfor %}

define service {
	use				local-service
	hostgroup_name			dbservers
	service_description		PING
	check_command			check_ping!100.0,20%!500.0,60%
	notifications_enabled		0
}

